@import "../components/utils";
@import "../defaults/color";
@import "../index";
@import "../defaults/breakpoint";

main {
/*     align text part and image part in center
 */    
 display: flex;
    align-items: center;
    margin: 0 auto;   
        .about-me-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        .about-image {
                img{
                width: 100%;
             }
            }
        /* description component */
        .about-me-content{
        margin: 2rem 2rem 2rem 10rem;
        span {
        color: $job-color;
        font-weight: bold;
        font-size: 4rem;
        }
        h3 {
        font-size: 2rem;
         }
        p {
        margin-bottom: 4vh;
        font-size: 1.2rem;
        }
       /* download button component */
        .content-button {
            @include mainbuttion-stuff ();
            display: inline-block;
            height: 30px;
            line-height: 30px; 
            text-align: center;
            font-size: 1.2rem;      
         }
        }
    }
}

@media screen and (max-width: $medium) {
    main {   

    .about-me-container {  
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        
        .about-me-content{
            text-align: center;
            margin-left: 0;
            
            .jobtitle {
            font-size: 3rem;
                }
            h3 {
            font-size: 2.5rem;
            }
            .working {
            font-size: 1.5rem;
            }
        }
        .about-image {
            img{
            width: 100%;
         }
        }

    }
}
}

@media screen and (max-width: $small) {
main {
/*change to grid display */ 
   
 .about-me-container {
    max-width: 100%;
    display: grid;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
/* make the content overlap with picture */    

 grid-template-rows: 200px 50px 1fr;  
    grid-template-columns: 50px 50px 1fr 50px 50px;
    .about-image {
        grid-row: 1/3 ;
        grid-column: 1/6;
        align-items: flex-start;
        img {
            width: 100%;
            object-fit: cover;
        }
        
    }
/*rearrange the text position */  
  .about-me-content {
        text-align: center;
        width: 100%;
        grid-row: 2/4;
        grid-column: 2/5;
        background-color: $card-color;
        span {
            color: $job-color;
            font-weight: bold;
            font-size: 2rem;
            }
            .jobtitle {
                font-size: 2rem;
                    }
            h3 {
            margin-top: 5px !important;
            font-size: 1.5rem;
             }
            .working {
            font-size: 1.2rem;
            }
            a {
            margin-bottom: 2rem;
            }
    }
    
}

}
}
