/* button component */
/* blog sidebar component*/
/* small size application breakpoints */
/* medium size application breakpoints */
/* medium-large application breakpoints-blog use only */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  width: 100%;
}

/* website logo component*/
div.logo img {
  display: block;
  margin: 1em;
  height: 3em;
}
div.logo img:hover {
  transform: scale(1.2);
}

/* navigation bar component */
div.nav-wrap {
  flex-grow: 1;
}
div.nav-wrap .nav {
  margin-right: 4rem;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 0;
}
div.nav-wrap .nav a {
  text-decoration: none;
  color: #6f35b1;
  margin: 0px 25px;
}
div.nav-wrap .nav a:hover {
  color: black;
}

/* hamburger navigation menu component*/
header div.icon {
  display: none;
  padding: 0.2em;
  width: 2em;
  height: 1.5em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 2em;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  header {
    background-color: #bde2e2;
    width: 100%;
  }
  header div.logo img {
    margin: 0.5em;
    height: 3em;
  }
  header div.icon {
    display: block;
  }
  /*  hamburger navigation list */
  header div.nav-wrap {
    height: 2em;
  }
  header div.nav-wrap ul.nav {
    display: none;
    background-color: #bde2e2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 2.3em;
    left: 0em;
    right: 0em;
    margin-right: none;
  }
  header div.nav-wrap ul.nav li {
    text-align: center;
    margin-bottom: 1em;
  }
  header div.nav-wrap ul.nav li a {
    margin: 0;
  }
  header div.nav-wrap ul.nav.show {
    display: flex;
    margin-right: 0 !important;
    z-index: 1;
  }
}
/* footer with copyright component */
footer {
  display: flex;
  flex-direction: row;
  margin-top: 0 !important;
  bottom: 0px;
}
footer .copyright {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  background-color: azure;
}

@media screen and (max-width: 600px) {
  .copyright {
    font-size: 3vw !important;
  }
}
html body {
  margin: 0;
  font-family: "Tilt Neon", cursive;
  background-color: #f0f5f9;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 2;
}

/* small size application breakpoints */
/* medium size application breakpoints */
/* medium-large application breakpoints-blog use only */
.blog-wrapper {
  /* blog posts card */
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto;
  gap: 8rem;
  margin: 0 2rem 0 4rem;
  /* blog sidebar component*/
}
.blog-wrapper #content {
  max-width: 100%;
}
.blog-wrapper #content p {
  line-height: 1.8;
  text-align: justify;
}
.blog-wrapper #content img {
  width: 30%;
}
.blog-wrapper #content .floating-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.blog-wrapper #content .floating-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}
.blog-wrapper #sidebar {
  flex: 1 0 300px;
  margin-bottom: 1rem;
}
.blog-wrapper #sidebar .sidebar-content {
  transition: 1s;
  margin: 10px;
  padding: 10px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.blog-wrapper #sidebar .sidebar-content:hover {
  cursor: pointer transform;
  scale: 1.03;
}
.blog-wrapper #sidebar .sidebar-content .blog-header {
  padding: 5px;
  background-color: rgba(187, 177, 177, 0.724);
  color: white;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog-wrapper #sidebar .sidebar-content .blog-header.card1 {
  background-image: url("https://images.unsplash.com/photo-1632292220916-e9c34dd75db2?ixlib=rb-4.0.3&dl=shubham-dhage-PACWvLRNzj8-unsplash.jpg&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
}
.blog-wrapper #sidebar .sidebar-content .blog-header.card2 {
  background-image: url("https://images.unsplash.com/photo-1581273154768-0a9a16887d2a?ixlib=rb-4.0.3&dl=alexander-grey-_Y3IuVbPpmU-unsplash.jpg&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
}
.blog-wrapper #sidebar .sidebar-content .blog-header.card3 {
  background-image: url("https://images.unsplash.com/photo-1599594397942-e2e2167a4e11?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=jenna-day-n0M8pP5EjDY-unsplash.jpg");
}
.blog-wrapper #sidebar .sidebar-content .blog-header.card4 {
  background-image: url("https://images.unsplash.com/photo-1479134262046-a470bfaf7a66?ixlib=rb-4.0.3&dl=milada-vigerova-XuWYokuezfc-unsplash.jpg&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
}
.blog-wrapper #sidebar .sidebar-content .blog-header.card5 {
  background-image: url("https://images.unsplash.com/photo-1518773553398-650c184e0bb3?ixlib=rb-4.0.3&dl=pankaj-patel-u2Ru4QBXA5Q-unsplash.jpg&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
}
.blog-wrapper #sidebar .sidebar-content .blog-header h4 {
  margin-top: 0;
}
.blog-wrapper #sidebar .sidebar-content .blog-header h3 {
  margin-bottom: 1rem;
}
.blog-wrapper #sidebar .sidebar-content .blog-snippet a {
  background-color: gray;
  color: #e6e9f0;
  padding: 5px 10px;
}

/* change the sidebar to bottom in samll size application */
@media screen and (max-width: 950px) {
  .blog-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0;
    margin: 1rem 2rem;
  }
  #sidebar {
    order: 2;
  }
}/*# sourceMappingURL=blog1.css.map */